node_modules
.env
**/node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
**/dist/

test-server/public/user-projects/

test-grounds/
test-grounds/*
.vscode/

**/nginx/conf/fastcgi_params
**/nginx/conf/fastcgi.conf
**/nginx/conf/koi-win
**/nginx/conf/koi-utf
**/nginx/conf/fastcgi.conf
**/nginx/conf/scgi_params
**/nginx/conf/win-utf
**/nginx/conf/uwsgi_params

**/nginx/logs/
**/nginx/temp/
**/nginx/*.pid
**/nginx/*.lock
**/nginx/*.exe

